<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">Movie Reviews</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit" (click)="signout()">signout</button>
        </form>
      </div>
    </div>
  </nav>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">Add Review</h5>
                </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="movieName" name="movieName" [(ngModel)]="movieName" pattern="^[^<>]+$">
                        <label for="movieName">Movie name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="genre" name="genre" [(ngModel)]="genre" pattern="^[^<>]+$">
                        <label for="genre">Genre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" rows="6" aria-label="With textarea" id="review" name="review" [(ngModel)]="review" pattern="^[^<>]+$"></textarea>
                        <label for="review">Review</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="rating" name="rating" [(ngModel)]="rating">
                        <label for="rating">Rating</label>
                    </div>
                    <div class="form-floating mb-3" *ngIf="hasHtmlTags">
                        No HTML tags allowed 
                    </div>
                    <div class="form-floating mb-3" *ngIf="message.length > 0">
                        {{message}}
                    </div>
                    <button type="button" class="btn btn-outline-success" (click)="addReview()">Add Review</button>
            </div>
        </div>
        <div class="col-md-8 mt-5">
            <div class="card p-3 shadow">
                <div *ngFor="let reviews of reviewList"  class="accordion panel" id="accordionExample">
                    <app-panel [review]="reviews" [canDelete]="false"></app-panel>
                </div>     
            </div>
            <div *ngIf="userList.length > 0" class="addCard" >
                <h5 class="text-danger">My Reviews</h5>
                <div class="card p-3 shadow">
                    <div *ngFor="let review of userList"  class="accordion panel" id="accordionExample">
                        <app-panel [review]="review" [canDelete]="canUserDelete(review)"></app-panel>
                    </div>     
                </div>
            </div>
        </div>
    </div>

</div>