<div class="container-fluid">
    <nav class="navbar navbar-light ">
        <span class="navbar-brand mb-0 h1">Movie Reviews</span>
        <button type="button" class="btn btn-info" (click)="signout()">signout</button>
    </nav>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">Add Review</h5>
                </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="movieName" name="movieName" [(ngModel)]="movieName">
                        <label for="movieName">Movie name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="genre" name="genre" [(ngModel)]="genre">
                        <label for="genre">Genre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" rows="6" aria-label="With textarea" id="review" name="review" [(ngModel)]="review"></textarea>
                        <label for="review">Review</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="rating" name="rating" [(ngModel)]="rating">
                        <label for="rating">Rating</label>
                    </div>
                    <button type="button" class="btn btn-outline-success" (click)="addReview()">Add Review</button>
            </div>
        </div>
        <div class="col-md-8 mt-5">
            <h5 class="text-danger"> Reviews</h5>
            <div class="card p-3 shadow">
                <div *ngFor="let reviews of reviewList"  class="accordion panel" id="accordionExample">
                    <app-panel [review]="reviews" [canDelete]="canUserDelete(reviews)"></app-panel>
                </div>     
            </div>
        </div>
    </div>

</div>