<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Welcome</h4>
                        </div>
                        <button type="button" class="btn btn-info" (click)="signout()">signout</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/register" style="text-decoration: none;">Need Account ? <span class="text-danger">Register</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>