<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Verify</h4>
                        </div>
                        <div class="mb-3">
                          <p>Please verify link sent and </p> <a href="/login" style="text-decoration: none;"> <span class="text-danger">Login</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>